/* colors
white : FFFFFF
box blue : 273549
h3 : CCC1FF
bg dark : 1F2937
bg purple : 6943FF
xy border : B295FF
button text : 3D3D3D
*/
body{
    margin: 0;

}
.container {
    width: 500px;
    margin: 0 auto;
    text-align: center;
}  
#input{
    background-color: #6943FF;
    color:#FFFFFF;
    margin: 0 auto;
}
#operation{
    margin: 0 auto;
    background-color: #1F2937;
    border: 1px solid #1F2937;
}
.input-number{
    width: 100px;
    height: 80px;
    font-size: 48pt;
    border:#B295FF;
}
.convert-btn{
    color: #3D3D3D;
}

h3{
    color: #CCC1FF;
}
p{
    color: #FFFFFF;
}