/* colors
white : FFFFFF
box blue : 273549
h3 : CCC1FF
bg dark : 1F2937
bg purple : 6943FF
xy border : B295FF
button text : 3D3D3D
*/
body{
    margin: 0;

}
.container {
    width: 400px;
    margin-left: auto;
    margin-right: auto;    
}
#input{
    background-color: #6943FF;
    color:#FFFFFF;
}
.input-number{
    width: 100px;
    height: 80px;
    font-size: 48pt;
    border:#B295FF;
}
.convert-btn{
    padding: 15px, 10px;
    color: #3D3D3D;
}
#operation{
    background-color: #1F2937;
}
h3{
    color: #CCC1FF;
}
p{
    color: #FFFFFF;
}